extends index

block content
  p Are you sure you want to delete this entry?
  div.blog-post-container
    h2= blog_title
    p= blog_body
  form(action="http://localhost:3000/finish_delete", method="POST")
    input.form-control(type="text", value=id, name = "id", readonly="true" hidden="true")
    br
    span
      button(type="submit").styled-button Yes
      a.blog-back(href="/home") Back